{
  "env": {
    "commonjs": true,
    "es2021": true,
    "node": true,
  },
  "extends": [
    "eslint:recommended",
    "prettier",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
  ],
  "overrides": [
    {
      "env": {
        "jest": true,
      },
      "files": ["**/*.spec.js", "**/*.spec.jsx", "**/*.test.js", "**/*.test.jsx"],
    },
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
  },
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "react",
    "autofix",
    "react-hooks",
    "eslint-plugin-import-helpers",
  ],
  "root": true,
  "rules": {
    "arrow-body-style": ["warn", "as-needed"],
    "eqeqeq": ["warn", "always"],
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": ["/^react$/", "/next.*/", ["module"], "/@/.*/", ["absolute"]],
        "alphabetize": {
          "order": "asc",
          "ignoreCase": true,
        },
      },
    ],

    "linebreak-style": ["warn", "unix"],
    "eol-last": ["warn", "always"],
    "no-restricted-imports": [
      "warn",
      {
        "patterns": ["../../../*", "!../*", "!../../*", "!test/**/*"],
      },
    ],
    "react/self-closing-comp": [
      "warn",
      {
        "component": true,
        "html": true,
      },
    ],
    "react/react-in-jsx-scope": "off",
    "no-const-assign": "warn",
    "no-lone-blocks": "warn",
    "no-return-await": "warn",
    "no-trailing-spaces": "warn",
    "no-throw-literal": "warn",
    "no-unused-expressions": "warn",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_",
      },
    ],
    "no-useless-catch": "warn",
    "no-useless-escape": "warn",
    "no-useless-return": "warn",
    "no-undef-init": "warn",
    "no-unneeded-ternary": "warn",
    "no-unreachable": "warn",
    "no-var": "warn",
    "prefer-const": "warn",
    "quotes": ["off", "double"],
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": "off",
    "require-await": "warn",
    "semi": ["warn", "always"],
    "spaced-comment": ["warn", "always", { "exceptions": ["-", "+"] }],
  },
}
