{
  "env": {
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "prettier",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "overrides": [
    {
      "env": {
        "jest": true
      },
      "files": ["**/*.spec.js", "**/*.spec.jsx", "**/*.test.js", "**/*.test.jsx"]
    }
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "prettier", "react", "autofix", "react-hooks"],
  "root": true,
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "eqeqeq": ["error", "always"],
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "parent", "sibling", "index", "object", "type"],
        "pathGroups": [
          {
            "pattern": "@/**/**",
            "group": "parent",
            "position": "before"
          }
        ],
        "alphabetize": { "order": "asc" }
      }
    ],
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "eol-last": ["error", "always"],
    "no-restricted-imports": [
      "error",
      {
        "patterns": ["../"]
      }
    ],
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": true
      }
    ],
    "react/react-in-jsx-scope": "off",
    "no-const-assign": "error",
    "no-lone-blocks": "error",
    "no-return-await": "error",
    "no-trailing-spaces": "error",
    "no-throw-literal": "error",
    "no-unused-expressions": "error",
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "no-useless-catch": "error",
    "no-useless-escape": "error",
    "no-useless-return": "error",
    "no-undef-init": "error",
    "no-unneeded-ternary": "error",
    "no-unreachable": "error",
    "no-var": "error",
    "prefer-const": "warn",
    "quotes": ["off", "double"],
    "react-hooks/exhaustive-deps": "error",
    "require-await": "warn",
    "semi": ["warn", "always"],
    "spaced-comment": ["error", "always", { "exceptions": ["-", "+"] }]
  }
}
